<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DAO.MemberMapper">

	<insert id="insertMember" parameterType="Member">
		insert into members(
		member_seq,
		id,
		password,
		name,
		gender,
		email,
		phone_number,
		postNumber,
		newAddress,
		city,
		county,
		village,
		indate
		) values (
		member_seq.nextval,
		#{id},
		#{password},
		#{name},
		#{gender},
		#{email},
		#{phone_number},
		#{postNumber},
		#{newAddress},
		#{city},
		#{county},
		#{village},
		sysdate
		)
	</insert>

	<select id="chkRepeatID" parameterType="String"
		resultType="Integer">
		select count(id)
		from members
		where id=#{id}
	</select>

	<insert id="insertHouseHold" parameterType="HouseHold">
		insert into
		HouseHolds(
		household_seq
		, member_seq
		, product
		, price
		, get_date
		,
		content
		, indate
		, inuser
		) values (
		household_seq.nextval
		, #{product}
		,
		#{product}
		, #{price}
		, sysdate
		, #{content}
		, sysdate
		, #{inuser}
		)
	</insert>

	<delete id="deleteHouseHold" parameterType="HouseHold">
		delete from
		houseHolds
		where household_seq=#{household_seq}
	</delete>

	<update id="fixHouseHold" parameterType="HouseHold">
		update HouseHold
		set
		product=#{product}
		,price=#{price}
		,content=#{content}
		,ldate=sysdate
		,luser=#{inuser}
		where
		household_seq=#{household_seq}
	</update>

	<select id="getHouseHoldList" parameterType="Member"
		resultType="HouseHold">
		select
		household_seq
		, member_seq
		, product
		, price
		, count
		,
		date
		, content
		, indate
		, ldate
		, inuser
		, luser
		from HouseHolds
		where
		member_seq=#{member_seq}
	</select>

	<select id="loginID" parameterType="Member" resultType="Integer">
		select
		count(id)
		from members
		where
		id=#{id} and password=#{password}
	</select>

</mapper>
  